name: CI

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup mise
        uses: jdx/mise-action@v3
        with:
          install: true
          experimental: true

      - name: Install dependencies
        run: bun install

      - name: Build
        run: |
          bun run build
          cp dist/tunecore-midi-lyrics.user.js /tmp/tunecore-midi-lyrics.user.js

      - name: Switch to release branch
        run: |
          git fetch origin built
          git switch built -f
          git pull origin built

      - name: Copy built file
        run: |
          git clean -df
          cp /tmp/tunecore-midi-lyrics.user.js .
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git add tunecore-midi-lyrics.user.js
          git commit -am "feat: update built file"
          git push origin built
