name: CI

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        required: true
        type: string
        default: '0.0.0'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup mise
        uses: jdx/mise-action@v3
        with:
          install: true
          experimental: true

      - name: Setup Git
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git fetch origin built --depth=1
          # なぜかそのままだとpushできないのでGITHUB_TOKENのURLにしてpushする
          # TODO: なんとかする
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}

      - name: Install dependencies
        run: bun install

      - name: Release
        run: bun run tasks:release -v ${{ github.event.inputs.version }} -p
